* {
    font-family: JetBrainsMono Nerd Font, Symbols Nerd Font, sans-serif;
    font-size: 12px;
    min-height: 0;
    color: white;
}

window#waybar {
    background-color: transparent;
    border: none;
}

#workspaces {
    margin-top: 3px;
    margin-bottom: 2px;
    margin-left: 20px;
    margin-right: 10px;
}

#workspaces button {
    border-radius: 15px;
    margin-right: 8px;
    padding: 1px 10px;
    font-weight: bold;
    background-color: #181818;
    color: white;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: #7C9D96;
    color: black;
    padding: 0 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
                rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#tray,
#mpd,
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#idle_inhibitor,
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery, 
#clock, 
#network {
    background-color: rgba(24, 24, 24, 0.85); /* Nền xám nhẹ, độ mờ 85% */
    border-radius: 10px;
    padding: 2px 10px;
    margin: 0 4px;
}
